*{
 
  text-decoration:none;
   font-weight:bold; 
  text-transform:uppercase; 
  font-family:helvetica;
  
}

.pokeball {
  
  position: absolute;
  right: 0;
  top: 0;
}
.pokeball2 {
  
  position: absolute;
  left: 0;
  top: 0;
  
}
h1, h2, h3{
  display: flex;
  justify-content: center;
  color: #3c5aa6
 
}
button {
  background-color: #d23737;
  border: none;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  font-size:xx-large;
  border-radius: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;

}
.card{
  display: flex;

  justify-content: center;
  
  text-align: center;
}
.card2{
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-around;
  text-align: center;


}
.pokemonimg{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


.searchbar{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
}
input[type=submit] {
  background-color: #d23737;
  border: none;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  font-size:xx-large;
  border-radius: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
li{
  text-align: left ;
}
.card2:hover .battlediv{
  transform: translateX(80%);
  animation: left 1s ease-in ;
}
.battlediv{
  color: #3c5aa6;
  transition: 2s;
}
.arena{
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRDWbtUIHB2kd11-e47MkW9_qZdvSrAl0qOvg&usqp=CAU');
  background-size: cover;
  

}

.wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1000px;
  margin: 0 auto;
}
.row{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  grid-gap: 60px;
  justify-content: center;
  /* @media (max-width: 1000px ;){
    grid-template-columns: repeat();
  }
     */
  
}
.columnm{
  text-align: center;
  display: flex;
  flex-direction: column;
  max-width: 200px;
  margin: 0 auto ;
}
.container{
  min-height: .5vh;
  padding:80px 60px ;
  justify-content: center;
  text-decoration:none;

}